USE [USER_DB]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_USER_NAME]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_ACCESS_RIGHT]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_LOGOUT_DTTM]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_LOGIN_DTTM]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_password_retry]
GO
ALTER TABLE [dbo].[user_info] DROP CONSTRAINT [DF_user_info_max_password_retry]
GO
/****** Object:  Table [dbo].[user_log]    Script Date: 22/2/2023 1:54:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_log]') AND type in (N'U'))
DROP TABLE [dbo].[user_log]
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 22/2/2023 1:54:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_info]') AND type in (N'U'))
DROP TABLE [dbo].[user_info]
GO
USE [master]
GO
/****** Object:  Database [USER_DB]    Script Date: 22/2/2023 1:54:28 PM ******/
DROP DATABASE [USER_DB]
GO
/****** Object:  Database [USER_DB]    Script Date: 22/2/2023 1:54:28 PM ******/
CREATE DATABASE [USER_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USER_DB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER19\MSSQL\DATA\USER_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USER_DB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER19\MSSQL\DATA\USER_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USER_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USER_DB]
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 22/2/2023 1:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_info](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COR_USERID] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[ROLE] [int] NOT NULL,
	[MAX_PASSWORD_RETRY] [int] NOT NULL,
	[PASSWORD_RETRY] [int] NOT NULL,
	[LOGIN_DTTM] [smalldatetime] NULL,
	[LOGOUT_DTTM] [smalldatetime] NULL,
	[LOGIN_STATUS] [smallint] NOT NULL,
	[ACCESS_RIGHT] [int] NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user_info] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_log]    Script Date: 22/2/2023 1:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_log](
	[SEQ] [int] IDENTITY(1,1) NOT NULL,
	[COR_USERID] [nvarchar](50) NOT NULL,
	[ACTION] [nvarchar](50) NOT NULL,
	[ACCESS_TIME] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_user_log] PRIMARY KEY CLUSTERED 
(
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_info] ON 

INSERT [dbo].[user_info] ([ID], [COR_USERID], [PASSWORD], [ROLE], [MAX_PASSWORD_RETRY], [PASSWORD_RETRY], [LOGIN_DTTM], [LOGOUT_DTTM], [LOGIN_STATUS], [ACCESS_RIGHT], [USER_NAME]) VALUES (1, N'user1', N'123', 1, 3, 0, CAST(N'2023-02-22T13:52:00' AS SmallDateTime), CAST(N'2023-02-22T13:52:00' AS SmallDateTime), 1, 1, N'CHUN MENG')
INSERT [dbo].[user_info] ([ID], [COR_USERID], [PASSWORD], [ROLE], [MAX_PASSWORD_RETRY], [PASSWORD_RETRY], [LOGIN_DTTM], [LOGOUT_DTTM], [LOGIN_STATUS], [ACCESS_RIGHT], [USER_NAME]) VALUES (2, N'user2', N'123', 2, 3, 0, CAST(N'2023-02-21T19:27:00' AS SmallDateTime), CAST(N'2023-02-21T19:27:00' AS SmallDateTime), 1, 2, N'ADMIN')
SET IDENTITY_INSERT [dbo].[user_info] OFF
GO
SET IDENTITY_INSERT [dbo].[user_log] ON 

INSERT [dbo].[user_log] ([SEQ], [COR_USERID], [ACTION], [ACCESS_TIME]) VALUES (1, N'user1', N'Login Successfully', CAST(N'2023-02-22T13:50:00' AS SmallDateTime))
INSERT [dbo].[user_log] ([SEQ], [COR_USERID], [ACTION], [ACCESS_TIME]) VALUES (2, N'user1', N'Login Failed', CAST(N'2023-02-22T13:52:00' AS SmallDateTime))
INSERT [dbo].[user_log] ([SEQ], [COR_USERID], [ACTION], [ACCESS_TIME]) VALUES (3, N'user1', N'Login Successfully', CAST(N'2023-02-22T13:52:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[user_log] OFF
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_max_password_retry]  DEFAULT ((3)) FOR [MAX_PASSWORD_RETRY]
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_password_retry]  DEFAULT ((0)) FOR [PASSWORD_RETRY]
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_LOGIN_DTTM]  DEFAULT (getdate()) FOR [LOGIN_DTTM]
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_LOGOUT_DTTM]  DEFAULT (getdate()) FOR [LOGOUT_DTTM]
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_ACCESS_RIGHT]  DEFAULT ((0)) FOR [ACCESS_RIGHT]
GO
ALTER TABLE [dbo].[user_info] ADD  CONSTRAINT [DF_user_info_USER_NAME]  DEFAULT ('') FOR [USER_NAME]
GO
USE [master]
GO
